div.Conds {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    background-color: rgb(2, 15, 42)
    //position: absolute;
  }
h1.terms{
    color: white;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 50px;
}
p.termsCond {
    color:white;
    text-align: center;
    background-color: rgb(15, 21, 35);
    max-width: 1200px;
    border-radius: 25px;
    vertical-align: middle;
    align-self: center;
    display: flex;
    justify-content: center;
}
